*{
    /* font-family: 'League Spartan', sans-serif; */
    font-family: 'DM Sans', sans-serif;
    /* font-size: large; */
}

h1{
    font-family: 'League Spartan', sans-serif;
    font-weight: 900 !important;
    /* font-size: larger !important; */
    /* font-size: 50px; */
}

ul li{
    list-style: none;
    padding: 0;
}

li p{
    display: inline-flex !important;
}

li:hover{
    background-color: whitesmoke;
}

input{
    background-color: lightgray !important;
    outline: none !important;
}

.completed .task{
    /* display: inline-block; */
    text-decoration: line-through !important;
}

.completed{
    background-color: beige !important;
}

.incoming{
    background-color: lightgreen !important;
}

.outgoing{
    background-color: lightcoral !important;
}

.danger{
    display: none;
}